body{
    background-color: crimson;
}

.student-log{
    display: flex;
    justify-content: center;
}

.first-container{
    width: 400px;
    height: 400px;
    border: solid black 3px;
}
.last-container{
    width: 400px;
    height: 400px;
    border: solid black 3px;
}
.email-container{
    width: 400px;
    height: 400px;
    border: solid black 3px;
}
.five-container{
    width: 400px;
    height: 400px;
    border: solid black 3px;
}
